* {
    margin: 0;
    padding: 0;
}

:root {
    --green: #166534;
    --dark-green: #082213;
    --white: #f1f5f9;
    --grey: #d4d4d8;
    --dark-grey: #292929;
}

body {
    padding: 20px; 
    background-color: var(--white);
    color: var(--white);

    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.dropdown { 
    width: 90%; 
    margin: 10px; 

    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;  

    position: relative; 

}

.menu-title,
.menu-item {
    border: 1px solid black;
    width: 100%;
    text-align: center; 
    padding: 5px 0px; 
}

.menu-title {
    font-size: 25px; 
    font-weight: 700; 
    background-color: var(--dark-grey);

    display: flex; 
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.title,
.dropdown-trigger {
    padding: 10px; 
}

.dropdown-content {
    position: absolute; 
    top: 60px; 
    transition: 250ms all ease-out; 
    width: 100%;
    opacity: 0; 
}

.menu-item {
    font-size: 24px; 
    background-color: var(--grey);
    color: black;
}

.active {
    transform: translate(0, 0);
    opacity: 1;
    position: static;
}

